@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
    background: #f2efef;
}

body.dark {
    background: #43435e;
}

.topbar-color {
    color: black !important;
}

.topbar-color .topbar-angle {
    margin-left: 10px !important;
}

.home-banner-color {
    color: white !important;
    text-transform: capitalize !important;
    font-size: 20px !important;
}

@media(max-width:768px) {
    .home-banner-color {
        color: white !important;
        text-transform: capitalize !important;
        font-size: 18px !important;
    }
}

@media(max-width:508px) {
    .home-banner-color {
        color: white !important;
        text-transform: capitalize !important;
        font-size: 16px !important;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: flex;
    width: fit-content;
    animation: scroll 40s linear infinite;
    white-space: nowrap;
}

.css-voecp4-MuiInputBase-input-MuiFilledInput-input {
    background: '' !important;
}

.css-1mb1do-MuiInputBase-root-MuiFilledInput-root::before {
    border-bottom: 0px !important;
}

.css-1osjgpz>:not(style) {
    margin: 5px 0px !important;
}

.slick-prev,
.slick-next {
    display: block !important;
    z-index: 2;
}

.slick-prev::before,
.slick-next::before {
    color: black;
    font-size: 24px;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    white-space: nowrap;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    font-size: 12px;
    margin-left: -35px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.check-btn {
    white-space: nowrap !important;
    background-color: black !important;
    color: white !important;
    text-transform: capitalize !important;
    padding: 10px 2px !important;
}

.scroll-hidden::-webkit-scrollbar {
    width: 0px !important;
    color: white;
    background-color: white;
    height: 3px;
}

.cart-button {
    font-weight: 600 !important;
    font-size: medium !important;
    background-color: black !important;
    padding: 9px 0px !important;
    width: 100% !important;
    color: white !important;
    text-transform: capitalize !important;
}

.bor_hidden {
    visibility: hidden;
}

.add_btn {
    color: white !important;
    background-color: black !important;
    padding: 12px 35px !important;
    text-transform: capitalize !important;
}

.css-voecp4-MuiInputBase-input-MuiFilledInput-input {
    background: #fff !important;
}

.scroll-hidden::-webkit-scrollbar {
    width: 1px !important;
    color: white;
    background-color: white;
    height: 3px;
}

.scroll-hidden-show::-webkit-scrollbar {
    width: 10px !important;
    height: 5px !important;
    background-color: #43435e;
}

.main_absolute::-webkit-scrollbar {
    width: 0px;
}

.header_width {
    width: calc(100% - 300px);
}

@media(max-width:1024px) {
    .main_absolute {
        position: fixed !important;
        left: 0;
        transition: all 0.8s !important;
    }

    .main_absolut_minus {
        left: -100% !important;
    }

    .header_width {
        width: 100%
    }
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.overflow_add {
    overflow-x: auto !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rating{
    padding-top: 5px!important;
    padding-left: 10px!important;
}

.image_height{
    height: 70%!important;
}

.slick-initialized .slick-slide{
    padding: 10px!important;
}